<html>
  <head>
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
    <nav class="nav navbar-nav navbar-left">
      <span class=main-title>Bookers</span>
    </nav>
    <nav>
      <% if user_signed_in? %>
      <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to user_path(current_user.id) do%>
            <i class="glyphicon glyphicon-home">
            </i> Home
            <% end %>
          </li>
          <li>
             <%= link_to users_path do %>
             <i class="glyphicon glyphicon-user">
             </i> Users
             <% end %>
          </li>
          <li>
             <%= link_to books_path do %>
             <i class="glyphicon glyphicon-book">
             </i> Books
             <% end %>
          </li>
          <li>
             <%= link_to destroy_user_session_path, method: :delete do %>
             <i class="glyphicon glyphicon-log-out">
             </i> Logout
             <% end %>
          </li>
      </ul>
      <% else %>
       <ul class="nav navbar-nav navbar-right">
         <li>
           <%= link_to '/' do%>
           <i class="glyphicon glyphicon-home">
           </i> Home
           <% end %>
         </li>
         <li>
           <%= link_to "users/about" do %>
           <i class="glyphicon glyphicon-link">
           </i> About
           <% end %>
         </li>
         <li>
           <%= link_to new_user_registration_path do %>
           <i class="glyphicon glyphicon-edit">
           </i> sign up
           <% end %>
         </li>
         <li>
           <%= link_to new_user_session_path do %>
           <i class="glyphicon glyphicon-log-in">
           </i> log in
           <% end %>
         </li>
       </ul>
      <% end %>
    </nav>
    </div>
    </div>
    </header>
  </body>
</html>